/* ==UserStyle==
@name           Youtube Country Code Changer
@namespace      https://github.com/DrPleaseRespect
@version        2.0.0
@description    Replaces Country Code with other Text
@author         DrPleaseRespect
@preprocessor stylus
@updateURL https://raw.githubusercontent.com/DrPleaseRespect/User-CSS-Stuff/master/youtubecountrycodechanger.user.css
@var text CountryCode "Text to Replace the Country Code" Insert Text In the Settings
==/UserStyle== */



@-moz-document domain("youtube.com") {
    #country-code {
        visibility: hidden;
        position: relative;
        padding-right: 30px
    }
    #country-code:after {
        visibility: visible;
        position: absolute;
        top: 0px;
        left: 5px;
        content: '' + CountryCode;
        font-family: 'Oxygen', sans-serif;
    }
    .style-scope.tp-yt-app-drawer #logo-icon  {
        margin-left: -21px
    }
    .style-scope.tp-yt-app-drawer #country-code:after {
        left: 0px
    }
}
